<%= turbo_frame_tag list, data: { sortable_id: list.id} do  %>
  <div data-sortable-id="<%= list.id %>" data-controller="slide">
    <div data-sortable-handle="" class="bg-slate-100 rounded-3xl p-4 mt-6 grid grid-cols-12 border-slate-800 border-2 border-b-4 shadow-lg shadow-slate-400 hover:border-lime-500">
      <span class="col-span-1"><i class="fa-solid fa-bars"></i></span>
      <span class="col-span-8"><b><%= list.title %></b></span>
      <%= link_to edit_list_path(list.id), data: { turbo_frame: "edit_list" }, class: "text-center col-span-1 hover:text-lime-600" do  %>
        <span class=""><i class="fa-solid fa-pen-to-square"></i></span>
      <% end %>
      <span data-slide-target="showButton" data-action="click->slide#show" class="text-center col-span-2">4/12 <i class="text-lime-400 fa-solid fa-eye"></i></span>
      <span data-slide-target="hideButton" data-action="click->slide#hide" class="hidden text-center col-span-2">4/12 <i class="text-red-400 fa-solid fa-eye-slash"></i></span>
    </div>
    <div data-slide-target="container" class="hidden h-0">
      <div data-slide-target="section" data-transition-enter="ease-in-out duration-300" data-transition-enter-start="h-0 opacity-0" data-transition-enter-end="h-32 opacity-100" data-transition-leave="ease-in-out duration-1000" data-transition-leave-start="h-32 opacity-100" data-transition-leave-end="h-0 opacity-0">
        <div class="mr-6 text-right" data-slide-target="content" data-transition-enter="ease-in-out duration-1000" data-transition-enter-start="opacity-0" data-transition-enter-end="opacity-100" data-transition-leave="ease-in-out duration-300" data-transition-leave-start="opacity-100" data-transition-leave-end="opacity-0">
          <%= link_to "New Item", new_list_item_path(list_id: list.id), data: { turbo_frame: "new_item" }, class: "btn btn-primary mt-0 rounded-t-none" %>
          <button class="hover:bg-slate-200 bg-slate-100 mt-0 rounded-t-none btn"><i class="fa-solid fa-arrow-down-a-z"></i></button>
          <button class="hover:from-pink-200 hover:to-emerald-200 bg-gradient-to-r from-pink-100 to-emerald-100 btn btn-primary mt-0 rounded-t-none"><i class="text-pink-400 fa-regular fa-square"></i><b class="text-black"> -> </b><i class="text-emerald-400 fa-regular fa-square-check"></i></button>
          <button class="hover:bg-pink-200 bg-pink-100 mt-0 rounded-t-none btn"><i class="text-pink-400 fa-regular fa-square"></i> <i class="fa-solid fa-arrow-down-short-wide"></i></button>
        </div>

        <%= turbo_frame_tag "#{list.id}_top_item" %>
        <% list.items.each do |item| %>
          <%= render partial: "items/item", locals: { item: item } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

