<%= turbo_stream_from "user_#{current_user.id}_lists" %>
<%= turbo_frame_tag "new_list" %>
<%= turbo_frame_tag "edit_list" %>
<%= turbo_frame_tag "new_item" %>
<%= turbo_frame_tag "edit_item" %>

<section class="p-3 m-3">
  <%= link_to "New", new_list_path, data: { turbo_frame: "new_list" } %>
    <%= turbo_frame_tag "user_#{current_user.id}_lists" do %>

    <div data-controller="sortable" data-sortable-url-value="<%= list_update_position_path(id: ":id") %>">
      <% @lists.each do |list| %>
        <%= render partial: "lists/list", locals: { list: list } %>
      <% end %>
    </div>
  <% end %>

</section>
