<%= turbo_frame_tag "account" do  %>
  <dialog data-controller="dialog" data-dialog-target="dialog">
    <section data-action="click@window->dialog#outsideClick" data-dialog-target="modalBox" class="p-4 w-80">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions" %>
        </div>
      <% end %>
      <div class="mt-2 pt-2 border-t-2 border-t-slate-400">
        <%= render "devise/shared/links" %>
      </div>
    </section>
  </dialog>
<% end %>
