<%= form_with(model: friendship) do |form| %>
  <div class="bg-slate-100 mb-96 w-80 rounded-3xl p-4 border-slate-800 border-2 border-b-4 shadow-lg shadow-slate-400 hover:border-lime-500">
    <div class="w-11/12 mx-4">
      <%= form.text_field :name, placeholder: :Name, class: "border_transparent border-b-2 border-slate-400 w-full", required: true, maxlength: 20, minlength: 3 %>
    </div>
    <div class="w-11/12 mx-4 mt-2">
      <%= form.email_field :invited_email, placeholder: :Email, class: "border_transparent border-b-2 border-slate-400 w-full", required: true, maxlength: 40, minlength: 3 %>
    </div>
    <div class="m-4">
      <%= form.fields_for :shared_lists do |shared_lists_form| %>
        <%= shared_lists_form.collection_check_boxes :list_id, current_user.lists, :id, :title, include_hidden: false do |b| %>
          <p><%= b.check_box %> <%= b.text %></p>
        <% end %>
      <% end %>
    </div>
    <div class="w-full flex">
      <div data-action="click->dialog#close" class="grow mx-2 text-center leading-8 align-middle my-0 ml-1 btn btn-warning"><i class="fa-solid fa-ban"></i></div>
      <button class="grow mx-2 btn btn-primary"><i class="fa-regular fa-paper-plane"></i></button>
    </div>
  </div>
<% end %>
