<%= turbo_frame_tag "friendship_modal" %>

<%= turbo_stream_from "user_#{current_user.id}_friends" %>

<section class="p-3 m-3">
  <div class="flex">
    <%= link_to new_friendship_path, data: { turbo_frame: "friend_modal" }, class: "btn btn-primary w-5/12 text-center" do  %>
      Invite <i class="fa-regular fa-paper-plane"></i>
    <% end %>
  </div>
  <div>
    <%= turbo_frame_tag "user_#{current_user.id}_friends" do %>
      <% @friendships.each do |friendship| %>
        <%= render partial: "friendships/friendship", locals: { friendship: friendship, user: current_user } %>
      <% end %>
    <% end %>
  </div>
</section>
