<%= form_with(model: [list, item]) do |form| %>
  <div class="bg-slate-100 mb-96 w-80 rounded-3xl p-4 border-slate-800 border-2 border-b-4 shadow-lg shadow-slate-400 hover:border-lime-500">
    <div class="flex items-end my-2">
      <%= form.text_field :name, placeholder: "Name", class: "w-3/4 border-transparent border-b-2 border-slate-400", required: true, maxlength: 20, minlength: 3  %>
      <span class="px-2">Qty:</span>
      <%= form.select :quantity, ((1..100).map { |i| [i,i] }), class: "border-transparent border-b-2 border-slate-400", required: true %>
    </div>
    <%= form.text_field :note, placeholder: "Note", class: "w-full border-transparent border-b-2 border-slate-400", required: false, minlength: 3, maxlength: 80 %>

    <div class="mt-2 flex justify-around">
      <% if item.id %>
        <%= link_to item_path(item),
          class: "text-center grow leading-8 align-middle my-0 ml-1 btn btn-warning",
          type: "button",
          data: { turbo_method: :delete, action: "click->dialog#close" },
          method: :delete do
        %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      <% end %>
      <div data-action="click->dialog#close" class="text-center grow leading-8 align-middle my-0 ml-1 btn btn-warning"><i class="fa-solid fa-ban"></i></div>
      <button class="text-center grow my-0 ml-1 btn btn-primary"><i class="fa-solid fa-check"></i></button>
    </div>
  </div>
  <% if item.errors.any? %>
    <div class="critical-bg text-center">
    <% item.errors.each do |err| %>
      <p class="text-center m-auto"><%= err.message %></p>
    <% end %>
    </div>
  <% end %>
<% end %>
