<%= turbo_frame_tag "item_#{item.id}" do %>
  <%
    pending_class = %w(bg-gradient-to-r from-slate-100 via-slate-100 to-pink-200)
    retrieved_class = %w(bg-gradient-to-r from-slate-100 via-slate-100 to-emerald-100)
    card_color = item.pending? ? pending_class.join(" ") : retrieved_class.join(" ")
  %>

  <div
    data-slide-target="content"
    data-transition-enter="ease-in-out duration-1000"
    data-transition-enter-start="opacity-0"
    data-transition-enter-end="opacity-100"
    data-transition-leave="ease-in-out duration-300"
    data-transition-leave-start="opacity-100"
    data-transition-leave-end="opacity-0"
    class="<%= card_color %> rounded-3xl p-1 mt-1 ml-6 grid grid-cols-12 border-slate-800 border-2 shadow-lg shadow-slate-400 hover:border-lime-500">

    <%= link_to item_path(item),  data: { turbo_method: :delete }, method: :delete do %>
      <span class="col-span-1 my-auto pl-2"><i class="fa-solid fa-trash"></i></span>
    <% end %>
    <span class="col-span-7"><b><%= item.name %></b></span>
    <span class="my-auto text-center col-span-3"><b><%= item.quantity %></b></span>
    <% if item.pending? %>
      <%= button_to item_update_status_path(id: item.id, status: Item.statuses[:retrieved]) do  %>
        <span class="my-auto text-center col-span-1"><i class="text-pink-400 fa-regular fa-square"></i></span>
      <% end %>
    <% else %>
      <%= button_to item_update_status_path(id: item.id, status: Item.statuses[:pending]) do  %>
        <span class="my-auto text-center col-span-1"><i class="text-emerald-400 fa-regular fa-square-check"></i></span>
      <% end %>
    <% end %>
  </div>
<% end %>
