<nav class="w-full mt-1">
  <% if user_signed_in? %>
    <div class="flex justify-around"><h1><%= link_to "Our Basket", signed_in_root_path, class: "text-center text-xl ml-3 btn" %></h1></div>
    <div class="flex justify-between mx-2">
      <%= link_to lists_path, class: "m-0 btn btn-primary" do %>
        <i class="fa-solid fa-list-check"></i> Lists
      <% end %>
      <%= link_to friendships_path, class: "m-0 btn btn-primary" do %>
        <i class="fa-solid fa-user-group"></i> Friends
      <% end %>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "m-0 btn btn-warning" %>
    </div>
  <% else %>
    <div class="flex justify-around"><h1><%= link_to "Our Basket", root_path, class: "text-center text-xl ml-3 btn" %></h1></div>
    <div class="flex justify-between mx-2">
      <%= link_to "Sign Up", new_user_registration_path, class: "m-0 btn btn-primary" %>
      <%= link_to "Sign In", new_user_session_path, class: "m-0 btn btn-primary" %>
    </div>
  <% end %>
</nav>
